*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: .9rem;
	--color-text: #292828;
	--color-bg: #ddd;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--angle: -15deg;
	--trans-content: -100vh;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: "Arya", "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5rem;
}

.noscroll {
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	position: fixed;
  top: 0;
}

  .pulse-button {
      padding: 14px 32px;
      background-color: #fd654e;
      color: #fff;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 0 0 #fd654e95;
      animation: pulse 1.8s infinite;
      transition: all 0.3s ease;
    }

    .pulse-button:hover {
      background-color: #feb95f;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(241, 93, 64, 0.7);
      }

      70% {
        box-shadow: 0 0 0 18px rgba(233, 30, 99, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(233, 30, 99, 0);
      }
    }

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	font-size: 12px;
	color: #e3b774;
	padding: var(--page-padding);
	display: grid;
	z-index: 1000;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	pointer-events: none;
	justify-items: start;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'title' 'sponsor';
	transition: opacity 0.3s;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.frame #cdawrap {
  justify-self: end;
	max-width: 300px;
	text-align: right;
}

.frame a {
  pointer-events: auto;
  color: #fff;
}

.frame a:focus,
.frame a:hover {
	color: #fff;
}

.frame__title {
  grid-area: title;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 800;
}

.intro {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}

.intro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/noise.png), radial-gradient(circle, #f9a13275 0%, transparent 100%);
  background-size: 250px, 100%;
  pointer-events: none;
}

.intro--open {
	height: 50vh;
}

.grid {
	gap: 1rem;
	flex: none;
	position: relative;
	width: 200vw;
	height: 200vh;
	display: grid;
	grid-template-rows: repeat(5,1fr);
	grid-template-columns: 100%;
	transform: rotate(var(--angle));
  transform-origin: center center;
}

.row {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(7,1fr);
  will-change: transform, filter;
}

.row__item {
	position: relative;
}

.row__item-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}

.row__item-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.row__item-img--large {
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	background-position: 50% 70%;
	will-change: transform, filter;
}

.enter {
	color: rgba(0,0,0,0.8);
	position: absolute;
	text-transform: uppercase;
	padding: 1.75rem 4rem;
	font-weight: 700;
	z-index: 100;
	font-weight: 700;
	font-size: 1.5rem;
	background: url('../../Prem Rasayan/img/noise.png'), radial-gradient(circle, #f9a13275 0%, transparent 100%);
	background-size: 250px, 100%;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 3rem;
}

.enter::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3rem;
	transition: all 0.3s;
	z-index: -1;

}

.enter:focus::before,
.enter:hover::before {
	background-color: rgba(0,0,0,0.2);
}

.fullview {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.fullview .row__item-inner {
	border-radius: 0px;
}

.content {
	padding: var(--page-padding);
	position: relative;
}

.content::before {
	content: '';
	position: absolute;
	border-radius: 10px 10px 0 0;
	height: calc(100% + (-1) * var(--trans-content));
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: url('../../../img/spjin-2025/page_bg.jpg'), radial-gradient(at top, #feb95f 0%, #fd654e 100%);
  background-size: contain;
}

.content > * {
	position: relative;
}

.content__nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.content__header h2 {
	font-size: 1rem;
	font-weight: 800;
	margin: 6rem 0 10vh;
	line-height: normal;
	color: #B30902;
}
.main-contain{
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    font-size: 1.8rem;
    padding: 4rem 0;
    margin: 0rem 0;
    text-align: center;
}
.main-contain .content-text h2{
	color: #B30902;
}

.main-contain .content-text p{
	color: #2f1e01;
}
.content__text {
	text-wrap: balance;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	padding: 0 5vw;
}

.content__text p {
	max-width: 700px;
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 0;
	margin-left: auto;
}

.content__text p.highlight {
	max-width: 1000px;
	font-size: 2rem;
	font-weight: 400;
}

.content__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	transform: translateY(calc(-1 * var(--trans-content)));
}

.btn-primary {
	color: #B30902;
	text-transform: uppercase;
	padding: 1.2rem 4rem;
	z-index: 100;
	font-weight: 400;
	font-size: 1.5rem;
	background: url(../img/noise.png), radial-gradient(circle, #f9a13275 0%, transparent 100%);
	background-size: 250px, 100%;
	transition: all 0.3s;
	cursor: pointer;
	text-align: center;
	border-radius: 61rem;
	border: 1px solid #B30902;
	display: inline-block;
}
.btn-primary:hover {
	background-color: rgb(204 18 18 / 57%);
	text-decoration: none;
	color: white;
}
.btn-primary.me-md-4{
	margin-top: 2rem;
	margin-right: 8px;
}
.book_page_img{
	width: 100%;
}
.services{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	gap: 8rem;
	margin-bottom: 2rem;
}
.services .s_item{

}
.services .s_item img{
	width: 150px;
}
.services .s_item h4{
	color: #B30902;
    font-weight: 500;
    font-size: 2rem;
	margin-bottom: 0;
}
.services .s_item p{
	font-size: 20px;
    margin-top: 8px;
    color: #4c3406;
}

@media screen and (min-width: 53em) {
	body {
		--page-padding: 2rem 3rem;
	}
	.frame {
		grid-template-columns: auto 1fr;
		grid-template-areas: 'title sponsor';
		align-content: space-between;
	}
	.content__header h2 {
		font-size: clamp(1.5rem,20vh,16rem);
	}
	.content__text p.highlight {
		font-size: clamp(2rem,7vh,4rem);
	}
}

/* Book */
.book {
    position: relative;
	width: 440px;
    height: 617px;
    transition: transform 0.5s;
	margin: 0px auto;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
	box-shadow: 0 10px 20px 4px rgb(21 21 32 / 8%);
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
.book-animated {
    margin-top: 5rem;
}
.bookButtons{
	grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    display: flex;
}
#prev-btn, #next-btn{
	display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #B30902;
	font-family: "arya";
}
img.bookButtons_icon {
	background-color: #fff;
    padding: .5rem;
    border-radius: 40px;
    height: 36px;
}
.heroIntro {
	text-align: center;
}
.heroIntro h2{
	font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #B30902;
    margin-top: -21px;
}
.heroIntro p {
    color: #4b4b4b;
    text-align: center;
    font-size: 1.8rem;
    width: 50%;
    margin: 0px auto;
	line-height: 34px;
}
.maintitle{
    margin-bottom: 4rem;
    display: block;
}
.maintitle h3{
	margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.maintitle h2{
	color: #B30902;
    margin: 0;
    font-weight: 500;
}

.maintitle p{
	margin: 0px;
    font-size: 18px;
}
.page_logo{
	width: 200px;
	display: block;
	margin: 16px auto;
}
.into_img{
	width: 25%;
	margin-bottom: 1rem;
}
#prev-btn:disabled, #next-btn:disabled{
	color: #f7f7f7;
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
	.main-contain{
		flex-direction: column;
        padding: 2rem;
        margin: 0;
		gap: 1rem;
		font-size: 1.5rem;
	}
	.content__nav{
		flex-direction: column;
	}
	.content-text {
		text-align: center;
	}
	.content-text .namaste {
		margin: 0px auto;
		display: block;
		width: 140px;
	}
	.book_img{
		width: 100%;
	}
	.content__footer{
		margin-top: 1rem;
	}
	.book{
		width: 320px;
    	height: 453px;
	}
	#prev-btn, #next-btn {
		font-size: 1.3rem;
		font-weight: 500;
	}
	.services {
		gap: 2rem;
		margin-bottom: 2rem;
		flex-wrap: wrap;
	}
	.main-contain .content-text h2 {
		font-size: 24px;
	}
	.maintitle p {
		font-size: 14px;
	}
	.services .s_item img {
		width: 75px;
	}
	.services .s_item h4 {
		font-size: 18px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.services .s_item p {
		font-size: 14px;
		margin-top: 0px;
	}
	.bookButtons{
		grid-column-gap:16px;
	}
	.heroIntro p{
		width: 90%;
		font-size: 18px;
	}
	.into_img {
		width: auto;
		margin-bottom: 1rem;
	}
	.heroIntro h2{
		font-size: 1.5rem;
	}
}